@model Pickup_Entity.Seller

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";
}

<h2>Seller Home</h2>

<div>
    <h4>Welcome @Model.FirstName @Model.LastName</h4>
    <hr />
</div>