@model IEnumerable<Pickup_Entity.Product>

@{
    ViewBag.Title = "ProductsList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Product List</h2>

<table class="table">

@foreach (var item in Model) {
    @Html.Partial("_Product",item)
}

</table>
