@model Pickup_Entity.Buyer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}

<h2>Buyer Home</h2>

<div>
    <h4>Welcome @Model.FirstName @Model.LastName</h4>
    <hr />
    
</div>
