@model IEnumerable<Pickup_Entity.Product>

@{
    ViewBag.Title = "Index_Oracle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    @foreach (var item in Model)
    {
        <table align="center">
            @Html.Partial("_Product", item)
        </table>
    }