<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/ApiScripts/products.js"></script>

<table table id="productArea" align="center">
@*product details go here*@    
</table>

<div id="noti"></div>


